.fixed
/*Fixes the windows position of all web pahes*/
{
	position: fixed;
	top: 0;
	left: 0;
  z-index: 1;
}

header
/*Determines the position of the presentation banner*/
{
	display: flex;
  height : 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-attachment: fixed;
  background-color: white;
  border-bottom: 5px solid rgba(135,25,96,1);
}

header h1
/*Determines the font of the presentation banner*/
{
	color: black;
	min-width: 500px;
	text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.2em;

}

.lcpi , .arts, .i2m, .hesam
/*Determines the image size of the presentation banner*/
{
	height: auto;
	width:  10%;
	min-width: 100px;
	margin-left: 2%;
  margin-right: 2%;
}



.i2m, .hesam
/*Idem*/
{
  width : 7%;
  min-width: 100px;
}

/*navigateur*/

nav ul
/*Determines the main layout of the navigator box*/
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(120,120,120,1);
}

nav li 
/*Determines the layout of each box in the navigator box*/
{
  float: left;
  height: auto;
}

nav li a
/*Determines the layout and the font of each box in the navigator box*/ 
{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8em;
  height : 20px;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}

nav li a:hover 
/*Colour change when the navigator box is hover*/
{
  background-color: rgba(170,30,120,1);
}

.nav_beg #ong_sec
/*Colour change when a navigator box is selected*/
{
  background-color: rgba(170,30,120,1);
}

#criteria nav li a 
/*Font size oh the criterium navigator*/
{
  height: 15px;
  font-size : 0.8em;
}
#criteria nav ul
/*Background-color*/
{
  background-color: rgb(178,178,178);
}

#criteria nav ul #ong_tec
/*Background-color of technologie layout*/
{
  background-color: rgba(170,30,120,1);
}

/*Previous & Next*/

.change_sheet
/*Determines the size of change-sheet box at the bottom page */
{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  height: 60%;
}

.previous, .back, .next, .save, .strategy
/*Detemines the size and font-size of the buttons*/
{
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  width: 150px;
  height: 20px;
  margin : auto;
  font-family: Verdana, Arial, sans-serif;
  color: white;
}

.previous:hover, .back:hover, .next:hover, .save:hover, .save_all:hover, .strategy:hover
/*Determines the color of buttons when they are hover*/
{
  background-color: rgba(170,30,120,1);
  transform: translateY(3px);
  box-shadow: 0 3px #666;
}

/*Home & Level form*/

.welcome
/*Determines the mayout of the home page*/
{
  display: grid;
  grid-template-rows: 30% 60% 10%;
  grid-template-columns: 100%;
  width: 100%;
  height: 620px;
  align-items: center;
  text-align: center;
  position:relative;
  top: 105px;
  left: 0px;
}

.welc_head
/*Determines the layout of the home head page*/
{
  background-color: rgba(246,135,18,0.8);
  border-radius: 10px;
  height: 150px;
  width: 80%;
  margin: auto;
  align-items: center;
  padding: 5px;
}

.level_sheet
/*Determines the layout of the level page*/
{
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 100%;
  width: 100%;
  height: 600px;
  top: 0px;
  left: 0px;
  position: absolute;
  text-align: center;
}

.level_form
/*Determines the layout of the form level page*/
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  align-content: space-around;
  width: 100%;
  height: auto;
}

.element
/*Determines the layout of each question for the level web page*/
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  height: 45%;
  width: 45%;
  align-items: center;
  vertical-align: middle;
  background-color: rgba(246,135,18, 0.8);
  border-radius: 10px;
}

.answer
/*Determines the layout of each answer for each question for the level web page*/
{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
  align-items: center;
  vertical-align: middle;
}

.answer label
/*Determines the font-size of each answer*/
{
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
}

form .answer input[type="radio"]
/*Determines the pointer fit for the input radio in the form*/
{
  display: inline-flex;
  cursor: pointer;
}

.principles
/*Determines the layout of main box in the home web page*/
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
  vertical-align: middle;
}

.prin
/*Determines the layout of each level box in the home page.*/
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 20% 10%;
  height: 100%;
  width: 30%;
  align-items: center;
  vertical-align: middle;
  background-color: rgba(246,135,18,0.8);
  border-radius: 10px;
}

.welcome a, .select_str a
/*Determines the font in the home page*/
{
  text-decoration: none;
  color: white;
  font-family: Verdana, Arial, sans-serif;
  vertical-align: middle;
}

/*Beginner*/

.nav_beg li
/*Determines the size of each box of beginner navigator*/
{
  width: 20%;
}

#uses, #criteria, #stl
/*Cover the uses, criteria and stl box in the beginner path at the beginning*/
{
  display: none;
}

/*Master*/
/*Determines the layout of master path*/
.form_mas
{
  width: 100%;
}

.form_mas #stl
{
  display: none;
}

.form_mas #criteria
{
  display: grid;
}

.nav_mas li
{
  width: 33.33%;
}

.nav_cri li
{
  width: 12.5%;
}

/*Formulaire*/

form
/*Determines the postion fo formulaire for each path*/
{
  display: flex;
  width: 100%;
  position: absolute;
  top : 150px;
  left: 0px;
}

form input[type="radio"], form input[type="file"], form input[type='submit'], form input[type="checkbox"]
/*Cover the input box in the form for eah path*/
{
    display: none;
}

#experience
/*Cover the experience choise for the data bases*/
{
  display : none;
}

label, .home_choice
/*Determines the layout of experience input*/
{
  display: inline-block;
  padding: 15px 25px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 250px;
  height: 40px;
  margin : auto;
  font-family: Verdana, Arial, sans-serif;
}

label:hover, .home_choice:hover
/*Determines the layout of experience input when they are hover*/
{
  background-color: rgba(170,30,120,1);
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

.home_choice
/*Determines the layout of level choice box*/
{
  width : 50%;
}

#criteria label:hover
/*Changes the colour of criteria when they are hover*/
{
  background-color: green;
}

#level
/*Determines the size of the buttom "Evaluate my level"*/
{
width: 350px;
}

#label_file
/*Determines the size of the button "Import your stl file*/
{
  height : 40px;
  width: 400px;
  margin: auto;
}

.body, .body_cri
/*Determines the layout of each main part of beginner and master web pages (Sectors,uses...)*/
{
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-columns: 100%;
  background-color: rgba(246,135,18,0.8);
  width: 100%;
  height: 580px;
  text-align: center;
  vertical-align: middle;
}

.body_cri
/*Determines the size of each part in the criteria page for all criteria*/
{
  grid-template-rows: 10% 90%;
}

.def, .crit_allo, .crit_forb
/*Determine the font of definition for each page*/
{
  font-size: 0.8em;
  font-family: Verdana, Arial, sans-serif;
  color: white;
}

.crit_allo
{
  color: green;
}

.crit_forb
{
  color: red;
}

.uses
/*Determines the postion of use button in use page*/
{
  display: inline-flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.sectors
/*Determines the position of secton button in sector page*/
{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%;
  width: 100%;
  align-items: center;
}

.criteria
/*Determines the position of criteria button for each criteria page*/
{
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 12% 71% 17%;
  width: 100%;
  align-items: center;
}

#cri_tech
/*Determines the position of each technology in technology criteria*/
{
  display: grid;
}

.value_ther, .value_opti, .value_spee
/*Determines the position of each value for each criteria*/
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
  align-items: center;
  height: 100%;
}

.value_colo
/*Determines the position of each color in color criteria page*/
{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 100%;
}


.value_mate
/*Determines the position of each material in material page*/
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;
  align-items: center;
}

.value_surf
/*Determines the position of each surface in surface page*/
{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  align-items: center;
}

.value_dens
/*Determines the position of each density in density page*/
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  align-items: center;
}

.value_tech
/*Determines the position of each technology in technology criteria page*/
{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;
  align-items: center;
}

.value_fill
/*Determines the position of each filling in filling criteria page*/
{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  align-items: center;
}

h3
/*Determines the layout of h3 font*/
{
  font-family: Verdana, Arial, sans-serif;
  color: grey;
  font-size: 0.7em;
  outline: none;
}

.criteria img, .img_use img, .img_sector img, .select_str img
/*Determines the layout of each image in the criteria page*/
{
  box-shadow: 0 9px #999;
  border-radius: 5px;
  cursor: pointer;
}

.select_str img
/*Determines the image heigt in the strategy page*/
{
  height: 180px;
}

#cri_fill img
/*Determines the image heigt in the filling page*/
{
  height :180px;
}

.img_use img, .img_sector img, .value_surf img
/*Determines the image heigt in the use, sector and surface page*/
{
  height: 160px;
  width: 160px;
}

.img_tech
/*Determines the image heigt in the technology page*/
{
  width: 180px;
  height: 120px;
}

.img_tech:hover
/*Determines the layout of each technology image when they are hovered by the pointer*/
{
  width: 330px;
  height: 220px;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}

.criteria img:hover, .img_use img:hover, .select_str img:hover, .img_sector img:hover
/*Determines the layout of each use, criteria, strtegy and sector image when they are hovered by the pointer*/
{
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

#label_submit
/*Determines the size of submin button*/
{
  width: 150px;
  height: 20px;
  font-size: 15px;
}

.stl
/*Determines the position of the stl download button*/
{
  margin: auto;
}

.tech, .sectors div, .uses div
/*Determines the position of each value in technology, sector and use page*/
{
  position: relative;
  display: inline-block;
}
/*Cover the green image of uses when they are not selected by the user*/
#img_ergo_ac, #img_esth_ac, #img_asse_ac, #img_func_ac
{
  display: none;
}

#img_medi_ac, #img_oil_ac, #img_luxu_ac, #img_auto_ac, #img_aero_ac, #img_othe_ac
/*Cover the green image of sectors when they are not selected by the user*/
{
  display: none;
}

/*Résultats*/

.nav_res li
/*Determines the size of each box in the result navigator*/
{
  width: 25%;
}

.nav_res #ong_res
/*Determines the background color of result navigator*/
{
  background-color: rgba(170,30,120,1);
}

.set_machine, .rules, .strategy_user
/*Determines the layout of main onglet in result page*/
{
  position: absolute;
  top : 150px;
  align-items: center;
  width: 100%;
  background-color: rgba(246,135,18,0.8);
  text-align: center;
  height: 800px;
  left : 0px;
}

.rules
/*Cover the rules until the choix was done by the user about the strategy*/
{
  display: none;
}

.strategy_user
/*Determine the display of strategy selection*/
{
  display: grid;
}

.rules, .strategy_user
/*Determine the display of rule and strategy selection*/
{
  grid-template-columns : 100%;
  grid-template-rows : 15% 70% 15%;
  height: 580px;
}

.set_machine
/*Determine the set machine layout in the result page*/
{
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

.set_machine .change_sheet
/*Determine the set machine grid in the result page*/
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}

.set_machine p
/*Determine the set machine layout in the result page*/
{
  font-family: Verdana, Arial, sans-serif;
}

.area_set
/*Detemines the layout of each are in the grid of result page*/
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  vertical-align: top;
}

/*Determines the layout of each table*/
table
{
  width: 80%;
  border: 3px grey solid;
  border-radius: 5px;
  font-family: Verdana, Arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
  margin: auto;
}

td, th
{
    border: 3px grey solid;
    color: grey;
}

td
{
  width: 40%;
}

.ori_stl
/*Determines the size of the picture orientation*/
{
  width: 60%;
  height : auto;
  margin: auto;
}


.label_boa
/*Determine the font for each label in result page*/
{
  font-size: 1.4em;
  font-family: Verdana, Arial, sans-serif;
  color: white;
}
.level_instruction .label_boa
{
  color: grey;
}

.orientation, .specification
/*Determines the latout of the orientation and specification grid*/
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  align-items: center;
}

.orientation .label_boa, .specification .label_boa
{
  vertical-align: text-top;
}

.orientation img
/*Determines the layout of best orientation of the stl file*/
{
  width : 70%;
  height: auto;
}

.select_str
/*Determines the layout of strategy choice*/
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
}

.material_choice, .cost_choice
/*Determines the layout of material and cost strategy choice*/
{
  width: 100%;
  border-color: transparent;
  display: none;
}

#img_mate_ac, #img_cost_ac
/*Cover the image of material or cost strategie until the user choice his/her strategy*/
{
  display: none;
}

/*Tooltiptext*/
/*Determines the layout of picture which appears when you hover a use or sector proposition*/

.sectors div .tooltiptext_right, .sectors div .tooltiptext_left, .uses div .tooltiptext_top, .uses div .tooltiptext_bottom
{
  position: absolute;
  z-index: 2;
  bottom: 20%;
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0.5s;
}

.uses div .tooltiptext_top, .uses div .tooltiptext_bottom
{
  display: none;
}

.sectors div .tooltiptext_right
{
  right: 0%;
}

.sectors div .tooltiptext_left
{
  left: 0%;
}

.uses div .tooltiptext_top
{
  top: 100%;
}

.uses div .tooltiptext_bottom
{
  bottom: 100%;
}

.sectors div:hover .tooltiptext_left, .sectors div:hover .tooltiptext_right, .uses div:hover .tooltiptext_top, .uses div:hover .tooltiptext_bottom
{
  visibility: visible;
  opacity: 1;
}

.tooltiptext_left img, .tooltiptext_right img, .tooltiptext_top img, .tooltiptext_bottom img
{
  cursor: auto;
  width: 160px;
  height: 160px;
  box-shadow: none;
  border-radius: 5px;
}

.img_rules
{
  height: 400px;
  width: auto;
  border-radius: 5px;
}